  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Marcft</h3>
                        <p>
                            15 Cary Street, Rhodene
                            <br> Masvingo, Zim<br><br>

                        </p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/MARCFT1?t=1aEDIGkRQCCxQ8xUWSdY1A&s=08" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/MARCFT2015" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/marcft-96491a244/" class="facebook"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Get in Touch</h4>
                    <ul>
                        <strong>Tel:</strong> +263 719 133 194<br>
                        <strong>Cell:</strong> +263 773 050 229<br>
                        <strong>Email:</strong> machrcf@gmail.com / info@marcft.co.zw<br>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</footer>
<!-- End Footer -->