{% extends 'components/main.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %} 

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>
          <ol>
            <li><a href="{%url 'index' %}">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for post in posts %}
            <article class="entry">

              <div class="entry-img">
                <img src="{{post.picture.url}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'single' post.id %}">{{post.title}} {{post.question.id}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{post.author.username}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{post.created_at|timesince}}</time></a></li>
                  
                </ul>
              </div>

              <div class="entry-content">
                <p>
                 {{post.body}}

                </p>
                
                <div class="read-more">
                  <a href="{% url 'single' post.id %}">Read More</a>
                </div>
                <br>
                <div class="entry-footer">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">{{post.subject}}</a></li>
                  </ul>
                </div>
              </div>

            </article>
            {%endfor%}
            <!-- End blog entry -->
            {% include 'components/page.html' with page=posts %}

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">
              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {%for post in posts %}
                <div class="post-item clearfix">
                  <img src="{{post.picture.url}}" alt="">
                  <h4><a href="{% url 'single' post.id %}">{{post.title}}</a></h4>
                  <time datetime="2020-01-01">{{post.created_at}}</time>
                </div>
                {%endfor%}
              </div><!-- End sidebar recent posts-->
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% endblock %}