{% extends 'components/main.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}  

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Activities</h2>
                    <ol>
                        <li><a href="{%url 'index' %}">Home</a></li>
                        <li>Activites</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <section id="services" class="services">
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="icon-box">

                            <h4><a href="#tab-1">Networking and Coordination</a></h4>

                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">

                            <h4><a href="#tab-2">Capacity Enhancement</a></h4>

                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">
                            <h4><a href="#tab-3">Lobbying and Advocacy</a></h4>

                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">

                            <h4><a href="#tab-4">Resource Mobilization</a></h4>

                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">

                            <h4><a href="#tab-5">Child Development and Integration</a></h4>

                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">

                            <h4><a href="#tab-6">Street Child Programing</a></h4>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container">

                <div class="section-title">
                    <h2>Activities</h2>
                    <p>Check our Activities</p>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Networking and Coordination</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Capacity Enhancement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Lobbying and Advocacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Resource Mobilization</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Child Development Integration</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Street Child Programing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Networking and Coordination</h3>
                                        <p class="fst-italic">Our organization mainly focus on the following:</p>
                                        <p>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Membership:</strong><br> MARCFT is an affiliate member to the following organisations National Association of Non Governmental Organisations (NANGO), Zimbabwe National Council for the Welfare of
                                                    Children (ZNCWC), Zimbabwe AIDS Network (ZAN) at national level and Civicus at regional level.
                                                </li>
                                                <br>
                                                <li style="text-align:justify ;"><strong>Representation: </strong> <br>The organisation is represented in the boards and committees of ZNCWC,NANGO and Non State Actor Alliance ( NSSA) at provincial and national levels. </li>
                                                <br>
                                                <li style="text-align:justify ;"><strong>Member Linkages:</strong> <br>MARCFT has encouraged its members to be part of relevant networks and coordination forums such as (NANGO, ZNCWC, ZAN ) and local government development coordination
                                                    structures e.g Rural District Council Development Committees and Provincial Development Committees. </li>
                                                <br>
                                                <li style="text-align:justify ;"><strong>Support Visits: </strong><br>Reference check, MARCFT secretariat supported its members at various functions and development initiatives such as chapel opening and capacity development workshop at
                                                    Emmanuel homestead ,Ordination of first deaf chaplain at Henry Murray School for the deaf ,Opening of classroom block at Lirhanzo Children’s Home, Commissioning of solar geyser by ZERA at Mucheke Old
                                                    Peoples Home ,commissioning of repainted block at Alpha Cottages Children’s Home ,Retirement party of Mr Chigumo who was head at Ratidzo Zimcare School and the Orphan Sunday at Bopoma Children’s Home.
                                                </li>
                                                <br>
                                                <li style="text-align:justify ;"><strong>Baseline Surevey: </strong> <br>The organisation completed a baseline of its member institutions which was focused at collecting data on the following; Child Information, Staff Information, Facilities,
                                                    Income generating activities/ livelihoods, Funding Situations and Governance.
                                                </li>
                                                <br>
                                                <li style="text-align:justify ;"><strong>NGO Expo:</strong><br>MARCFT managed to exhibit at the 3 day National Ngo Expo in Harare held in Harare in October 2017 courtesy of NANGO. The expo was a wonderful marketing opportunity for the organisation
                                                    to both the public and strategic stakeholders. The following member provided information and materials for exhibition: M Hugo High School, Ratidzo Zimcare School, Alpha Cottages Children’s Home and Emmanuel
                                                    Homestead. </li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="/static/img/networking.webp" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Capacity Enhancement</h3>

                                        <p class="fst-italic">There are the areas where we impose Enhancement:</p>
                                        <p>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Workplace/Wellness:</strong><br> Alpha Cottages, Henry Murray, M Hugo High and Ratidzo Zimcare School were equipped with skills to develop HIV/AIDS wellness policies.
                                            </ul>
                                            <br>

                                            <ul>
                                                <li style="text-align:justify ;"><strong>Capacity Building Information:</strong><br> Referrals for training were made to members through the organisation on the following courses : Detergents making , Sanitary Wear, Fish farming ,rabbit
                                                    and poultry.


                                            </ul>
                                            <br>

                                            <ul>
                                                <li style="text-align:justify ;"><strong>Trauma Management Training:</strong><br> Alpha Cottages, Ratidzo Zimcare School, Bopoma children’s home and MARCFT staff completed a trauma management course with LAMb International CANADA and USA,
                                                    GCBN- Capacity Building
                                            </ul>
                                            <br>

                                            <ul>
                                                <li style="text-align:justify ;"><strong>Leadership Coaching:</strong><br> Some Alpha Cottages and MARCFT staff are undergoing a coaching clinic from the John Maxwell International Coaching Team.
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="/static/img/capacity.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Lobbying and Advocacy</h3>
                                        <p class="fst-italic"><a href="team.html">Our Team</a> , incessantly, work on the following:</p>
                                        <p class="fst-italic">
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Birth Registration:</strong><br> After realizing that it is disturbing to note that a number of children in residential care facilities do not have birth certificates and that the process is quite
                                                    prohibitive to obtain them, MARCFT made representations with relevant authorities for relaxation of the requirements that are needed. Members were also encouraged to take advantage of the national mobile
                                                    registration exercise for birth certificate and national Identity registration. Neshuro Baptist Children’s Home successful took advantage of this exercise to register two of their children. The situation
                                                    of children without birth certificates in Residential Care Facilities in 2017 stand at 302.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Audit Requirements:</strong><br> MARCFT lobbied with the Department of Social Services to weaver the annual requirement of submitting audited financial statements. The financial statements are supposed
                                                    to be audited by registered chartered accountant whose fees are normally above reach. The department of social services has as a result allowed member institutions to apply for a wavier and submit un
                                                    audited financial statements.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>National Feeding and Inputs Schemes:</strong><br> Representations were made with the office of the State Minister for Provincial Affairs to consider residential care facilities worthy recipients
                                                    of national feeding and input schemes since they cater for vulnerable populations and are under funded. This resulted in our members receiving considerable allocations of rice, maize and seed and fertilisers
                                                    in 2017.
                                            </ul>
                                            <br>
                                        </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="/static/img/lobbying.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Resource Mobilization</h3>
                                        <p class="fst-italic">We work on many different resources and here is a few:</p>
                                        <p class="fst-italic">
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Higher Life Foundation:</strong><br> MARCFT marketed its member RCFs to higher life foundation for institutional and educational support. This resulted in the Higher Life Foundation Team making assessment
                                                    visits that will inform possible partnerships.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Clothing and Uniforms:</strong><br> Well wishers from the Masvingo Community were mobilized to donate used and new clothes, school uniforms ,educational materials and hygiene packs which benefited
                                                    some children from Alpha Cottages ,M Hugo Schools ,Henry Murray ,Mother Nyaradzo foster home and Children living in the streets in Masvingo and Chiredzi.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Strategic Meetings:</strong><br> Strategic meetings were made with the following organisations among others PLAN International, World Vision, ZNNP+ ,NAC,Minstry of Women’s Affairs, Mwenezi Development
                                                    Training Center ,REPSI BHASO,ZFU ,WFP,ADRA ,Higher Life ,UNICEF ,ZNCWC ,Nyaradzo Funeral Assurance Company ,ZNFPC ,Ministry of Youth, Aqua Culture ,VSO ,Miracle Missions Trust ,EU ,US EMBASY,Africa Aid
                                                    ,Masvingo City Council ,Generation Health,CABS,POSB,NMB,BARCLAYS, Action Aid, Diakonia ,Steward Bank ,Christian Care ,EU Ambassadors, Forestry Commission ,British Council, Great Zimbabwe University,
                                                    Bondolfi Teacher College ,Reformed Church University and Chicken Inn.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Food Allocations:</strong><br> MARCFT managed to successfully mobilise food allocations from GMB through the State Minister for Provincial Affairs which resulted in the RCFs receiving rice and maize
                                                    for consumption. The allocations were channeled through the district administrator’s offices and the district social welfare offices.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Income Generating Activities:</strong><br> MARCFT encouraged sustainability of the RCFs through self reliant and income generating activities utilising available resources and the immediate environment
                                                    .A fish farming project for the RCFs has been initiated starting with a pilot project at Alpha Cottages which has been supported by Aqua culture and Jadecon Construction.
                                            </ul>
                                            <br>

                                        </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="/static/img/resource.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Child Development Integration</h3>
                                        <p class="fst-italic">We insure effective intaraction which are helpful in growth of the children, we get in contact with:</p>
                                        <p>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Ministry of Youth:</strong><br> Negotiations with ministry of youth culminating in to a pending MOU have been made for child skills development on site and at vocational training centers. Special
                                                    preferences will be made for enrolment of youth from RCFs. Specialised trainings will be made inconjuction with special institutions for children living with disabilities. Joint fund raising will be
                                                    made for sponsorship of the vocational trainings.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Plan Internation:</strong><br> Discussions have been made with PLAN to support member RCFs in child care and support issues. Plan will be able to support the children’s homes that fall under its
                                                    geographical coverage namely Chiredzi Children’s Village, Chingele Children’s Home and Neshuro Baptist Children’s Home. Currently the project will cover skills development.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Tertiary Institutions and Scholarships:</strong><br> Negotiations have been made with the following institutions ZOU, UZ,MSU,GZU,RCU AND Bondolfi for special consideration of enrollment of candidates
                                                    from the RCFs. Submissions have also been made for scholarships from the above institutions and the corporate world. Two students one from Alpha Cottages and Neshuro Children’s Home have secured a place
                                                    at Great Zimbabwe University and Bondolfi Teachers College respectively though funding has not yet been secured.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Child Referals:</strong><br> MARCFT identified two visually impaired boys in Chief Murinyes area in Masvingo District. One had dropped out of school in form 2 and became a vendor and a beggar at
                                                    Lake Mutirikwi Dam wall while the other who had left school in grade 6 was isolated from the public by his parents. It took a year to convince the guardians to allow the boys to join M Hugo Schools for
                                                    the blind .MARCFT mobilised educational assistance for the two boys and took them to school starting 3rd term of 2017.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Social Activites:</strong><br> A musical arts festival was held in April 2017 at Helen M c Ghie Primary School for psychosocial support and talent identification and development of children and senior
                                                    citizens. The festival was supported by musicians ,artists and well wisher around Zimbabwe.T he Minister of Liaison and Psycho Motor Skills in Education Mr JD Hungwe was the guest of honor.
                                            </ul>
                                            <br>
                                        </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="/static/img/child development.webp" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-6">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Street child Programing</h3>
                                        <p class="fst-italic">Occasionaly, we work on: </p>
                                        <p>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Registrations:</strong><br> MARCFT has embarked on street child programming after realizing the synergies between children living in the streets and residential care facilities. Its either some children
                                                    living in the streets have eloped from some RCF or deserve to be referred to an RCF .The children also need special care and support. The organisation has embarked on identification and registration
                                                    process of children living in the streets of Chiredzi and Masvingo. Masvingo City has about 22 children while Chiredzi has about 34.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Skills Development:</strong><br> Some of the kids have received skills development in music,entreprenural skills and others have returned to school from the streets. A group of mbira players participated
                                                    in the music arts festival and were winners of the star bright completions at provincial level. One of the kids have recorded a selling disc.Some of the kids have graduated in to airtime and fruit vendors.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Counseling:</strong><br> Meeting points and times with the street children have been identified for provision of counseling services. The project is ongoing and yielding positive results with the
                                                    children .Counseling needs range from child delinquency ,drug and substance abuse, verbal abuse and violence ,theft and home neglect.
                                            </ul>
                                            <br>
                                            <ul>
                                                <li style="text-align:justify ;"><strong>Food and Hygiene Programs:</strong><br> Masvingo Association of Residential Care Facilities mobilizes the Masvingo community to provide feeding and hygiene services at a common place. In order to
                                                    reduce begging syndrome by the children.
                                            </ul>
                                            <br>
                                        </p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="/static/img/street child program.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Features Section -->

    </main>
    <!-- End #main -->
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    {% endblock %}