{% extends 'components/main.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}


    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Our Team</h2>
                    <ol>
                        <li><a href="{%url 'index' %}">Home</a></li>
                        <li>Team</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team ">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="/static/img/team/user.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Mr Zendakwaye</h4>
                                <span>Director</span>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href="https://www.linkedin.com/in/zendakwaye-zendakwaye-378863203/"> <i class="ri-linkedin-box-fill"></i> </a>
                                    <a href = "mailto:zendakwaye@marcft.co.zw "><i class="ri-mail-add-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="/static/img/team/user3.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Miss. Dakwa</h4>
                                <span>Programmes Coordinator</span>
                                <div class="social">
                                    <a href="https://www.twitter.com/dakwa_kudzai?s=20&t=MhTZCvGzXiXPNmkjaKA-IQ"><i class="ri-twitter-fill"></i></a>
                                    <a href="https://www.linkedin.com/in/kudzai-dakwa-886379b1/"> <i class="ri-linkedin-box-fill"></i> </a>
                                    <a href = "mailto:dakwa@marcft.co.zw "><i class="ri-mail-add-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="/static/img/team/user2.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Mr. Tongofa</h4>
                                <span>Monitoring and Evaluation Officer</span>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href="https://www.linkedin.com/in/darlington-tongofa-90281465/"> <i class="ri-linkedin-box-fill"></i> </a>
                                    <a href = "mailto:tongofa@marcft.co.zw "><i class="ri-mail-add-fill"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="/static/img/team/user4.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Miss. Manenji</h4>
                                <span>Finance and Adminstration Officer</span>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                    <a href = "mailto:manenji@marcft.co.zw "><i class="ri-mail-add-fill"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
        </section>
        <!-- End Team Section -->

    </main>
    <!-- End #main -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    {% endblock %}